<div id="tooltip" class="hidden">
    <p>
        <strong>Important Label Heading</strong>
    </p>
    <p><span id="value">100</span>%</p>
</div>

<div class="row">
    <form class="form-inline" role="form">
        <div class="form-group pull-left">
            <label class="sr-only" for="Year">Seperate</label>
            <button class="btn btn-primary" id="btnSeperate">Seperate that shizzle!</button>
        </div>
        <div class="form-group pull-right">
            <label class="sr-only" for="Month">Month</label>
            <select id="Month">
                <option value="01" selected="selected">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="form-group pull-right">
            <label class="sr-only" for="Year">Year</label>
            <select id="Year">
                <option value="2014" selected="selected">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
            </select>
        </div>
        <button type="submit" id="SubmitBtn" class="btn btn-default btn-primary pull-right">Funkify that shit!</button>
    </form>
</div>
<div class="row">
    <div id="DataVisualization"></div>
</div>